body {

background-image: url("4331478-dope-wallpaper.png");
background-size: cover;
}ul   {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
